{% extends 'base.html.twig' %}

{% block body %}
    <h1>Appartement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appartement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ appartement.nom }}</td>
            </tr>
            <tr>
                <th>Nombrechambre</th>
                <td>{{ appartement.nombreChambre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('appartement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('appartement_edit', { 'id': appartement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
