{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accueillant list</h1>

    <table>
        <thead>
            <tr>
                <th>Id:</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accueillant in accueillants %}
            <tr>
                <td><a href="{{ path('accueillant_show', { 'id': accueillant.id }) }}">{{ accueillant.id }}</a></td>
                <td>{{ accueillant.nom }}</td>
                <td>{{ accueillant.prenom }}</td>
                <td>{{ accueillant.telephone }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('accueillant_show', { 'id': accueillant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('accueillant_edit', { 'id': accueillant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('accueillant_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
