{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accueillant</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ accueillant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ accueillant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ accueillant.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ accueillant.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <a class="btn btn-primary btn-sm" href="{{ path('accueillant_index') }}">Retour à la liste</a>
        <a class="btn btn-primary btn-sm" href="{{ path('accueillant_edit', { 'id': accueillant.id }) }}">Modifier</a>
    </ul>
    <ul>
        {{ form_start(delete_form) }}
        <input class="btn btn-outline-danger btn-sm" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    </ul>

{% endblock %}
