{% extends 'base.html.twig' %}

{% block body %}

    <nav class="nav" >
        <ul class="nav">

                <form class="form-inline my-2 my-lg-0 mr-lg-2" method="post" action="{{ path('delegation_recherche')}}">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="lieu,type,téléphone..." name="mot">
                        <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
                    </div>
                </form>

        </ul>
    </nav>

    <h1>Liste délégations</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Chef</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Type</th>
                <th>Nombrepersonne</th>
                <th>Lieu</th>
                <th>Datearrive</th>
                <th>Dateretour</th>
                <th>Addresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for delegation in delegations %}
            <tr>
                <td><a href="{{ path('delegation_show', { 'id': delegation.id }) }}">{{ delegation.id }}</a></td>
                <td>{{ delegation.chef }}</td>
                <td>{{ delegation.telephone }}</td>
                <td>{{ delegation.email }}</td>
                <td>{{ delegation.type }}</td>
                <td>{{ delegation.nombrePersonne }}</td>
                <td>{{ delegation.lieu }}</td>
                <td>{% if delegation.dateArrive %}{{ delegation.dateArrive|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if delegation.dateRetour %}{{ delegation.dateRetour|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ delegation.addresse }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('delegation_show', { 'id': delegation.id }) }}">voir</a>
                        </li>
                        <li>
                            <a href="{{ path('delegation_edit', { 'id': delegation.id }) }}">modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>

            <a class="btn btn-primary btn-sm" href="{{ path('delegation_new') }}">Ajouter une délégation</a>

    </ul>
{% endblock %}
