{% extends 'base.html.twig' %}


{% block analyze %}
    <div class="box box-default">
        <div class="box-header with-border" ng-controller="enterDataController">
            <h3 class="box-title">Gestion des résidences Khadim Rassoul</h3>

            <div class="pull-right dropdown">
                <a href="#" class="text-muted dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear"></i>
                </a>
                <ul class="dropdown-menu adminSetup">
                    <li ><a style="color: white" id="generateId" href="#" class="btn btn-primary btn-sm" onclick="createEntity('loader')">Générer</a></li>
                    <li  style="padding-top: 10px" id="updateId"><a style="color: white;" href="#" ng-click="updataInputTable()" class="btn btn-primary btn-sm">Mis à jour</a></li>
                </ul>
            </div>
            <div class="pull-right" id="finalId" hidden="hidden">
                <a href="#" onclick="générateAll()" style="padding: 15px" class="text-muted">Finaliser</a>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            {% block step %}
                {{ render(controller("ResidenceBundle:Delegation:new")) }}
            {% endblock %}
            <div class="row">
                <div class="col-md-4">
                    <div id="composant" class="form-group">
                        <img style="width: 15%; margin-left: auto; margin-right: auto; display: block" src="{{ asset('img/ajax-loader.gif') }}" alt="loading"  id="minloadComp">
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="axe" class="form-group">
                        <img style="width: 15%; margin-left: auto; margin-right: auto; display: block" src="{{ asset('img/ajax-loader.gif') }}" alt="loading"  id="minloadAxe">
                    </div>

                </div>
                <div class="col-md-4">
                    <div id="scope" class="form-group">
                        <img style="width: 15%; margin-left: auto; margin-right: auto; display: block" src="{{ asset('img/ajax-loader.gif') }}" alt="loading"  id="minloadNode">
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="groupeComp" class="col-md-4">
                    <img style="width: 15%; margin-left: auto; margin-right: auto; display: block" src="{{ asset('img/ajax-loader.gif') }}" alt="loading"  id="minloadGroupeComp">
                </div>
                <div id="groupeAxe" class="col-md-4">
                    <img style="width: 15%; margin-left: auto; margin-right: auto; display: block" src="{{ asset('img/ajax-loader.gif') }}" alt="loading"  id="minloadGroupeAxe">
                </div>
            </div>
            <!-- /.row -->
        </div>

    </div>
{% endblock %}
{% block body %}
    <div >
        <div class="modal fade" id="frmCompModal" tabindex="-1" role="dialog" type_operationaria-labelledby="frmCompModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="box-header well" data-original-title="">
                            <h2 style="margin-top: 0px;font-size: 18px"><i class="glyphicon glyphicon-edit"></i> Ajouter un composant</h2>
                            <div class="box-icon" style="float: right; margin-top: -34px">
                                <a style="padding: 5px; border-radius: 50px" href="#" id="close" class="btn btn-close btn-round btn-default" data-dismiss="modal" aria-hidden="true">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box">
                            <div class="box-inner">
                                <div class="box-content" id="contentModalComp">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="frmAxeModal" tabindex="-1" role="dialog" type_operationaria-labelledby="frmAxeModal" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="box-header well" data-original-title="">
                            <h2 style="margin-top: 0px;font-size: 18px"><i class="glyphicon glyphicon-edit"></i> Ajouter un Axe</h2>
                            <div class="box-icon" style="float: right; margin-top: -34px">
                                <a style="padding: 5px; border-radius: 50px" href="#" id="closeAxe" class="btn btn-close btn-round btn-default" data-dismiss="modal" aria-hidden="true">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box">
                            <div class="box-inner">
                                <div class="box-content" id="contentModalAxe">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="frmScopeModal" tabindex="-1" role="dialog" type_operationaria-labelledby="frmAxeModal" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="box-header well" data-original-title="">
                            <h2 style="margin-top: 0px;font-size: 18px"><i class="glyphicon glyphicon-edit"></i> Ajouter une portée</h2>
                            <div class="box-icon" style="float: right; margin-top: -34px">
                                <a style="padding: 5px; border-radius: 50px" href="#" id="closeScope" class="btn btn-close btn-round btn-default" data-dismiss="modal" aria-hidden="true">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box">
                            <div class="box-inner">
                                <div class="box-content" id="contentModalScope">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" onclick="_get('list_composant','','composants','loadingComp2')" data-toggle="tab">Résidences</a></li>
                        <li><a href="#tab_2" onclick="_get('','','axes','loadingaxe')" data-toggle="tab">Appartements</a></li>
                        <li><a href="#tab_3" onclick="_get('list_node','','nodes','loadingnoeud')" data-toggle="tab">Chambres Disponibles</a></li>
                        <li><a href="#tab_4" onclick="_get('list_group','','groupComp','loadingGroupComp')" data-toggle="tab">Chambres Occuppées</a></li>
                        <li><a href="#tab_5" onclick="_get('list_level','','levels','loadinglevel')" data-toggle="tab">Responsables</a></li>
                        <li><a href="#tab_6" onclick="_get('list_axegroup','','groupAxe','loadingGroupAxe')" data-toggle="tab">Accueillants</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Liste des résidences</h3>
                                </div>
                                <div class="box-body" id="composants">
                                    <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nom</th>
                                                <th>Nombreappartement</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for residence in residences %}
                                                <tr>
                                                    <td><a href="{{ path('residence_show', { 'id': residence.id }) }}">{{ residence.id }}</a></td>
                                                    <td>{{ residence.nom }}</td>
                                                    <td>{{ residence.nombreAppartement }}</td>
                                                    <td>
                                                        <ul>
                                                            <li>
                                                                <a href="{{ path('residence_show', { 'id': residence.id }) }}">Voir</a>
                                                            </li>
                                                            <li>
                                                                <a href="{{ path('residence_edit', { 'id': residence.id }) }}">Modifier</a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <ul>
                                            <li>
                                                <a href="{{ path('residence_new') }}">Ajouter une nouvelle residence</a>
                                            </li>
                                        </ul>
                                </div>

                            </div>

                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Liste des appartements</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body" id="axes">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom</th>
                                            <th>residence</th>
                                            <th>nombre d'appartement</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for appartement in appartements %}
                                            <tr>
                                                <td><a href="{{ path('appartement_show', { 'id': appartement.id}) }}">{{ appartement.id }}</a></td>
                                                <td>{{ appartement.nom }}</td>
                                                <td>{{ appartement.residence.nom}}</td>
                                                <td>{{ appartement.nombreChambre }}</td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <a href="{{ path('appartement_show', { 'id': appartement.id }) }}">Voir</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('appartement_edit', { 'id': appartement.id }) }}">Modifier</a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <ul>
                                        <li>
                                            <a href="{{ path('appartement_new') }}">Ajouter une nouvelle residence</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_3">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Liste des chambres disponibles</h3>
                                </div>

                                <div class="box-body" id="nodes">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Numero</th>
                                            <th>appartement</th>
                                            <th>responsable</th>
                                            <th>Actions</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for chambre in chambres %}
                                            <tr>
                                                <td><a href="{{ path('chambre_show', { 'id': chambre.id }) }}">{{chambre.id }}</a></td>
                                                <td>{{ chambre.numero }}</td>
                                                <td>{{ chambre.appartement.nom }}</td>
                                                <td>{{ chambre.responsable.nom }}</td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <a href="{{ path('chambre_show', { 'id': chambre.id }) }}">Voir</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('chambre_edit', { 'id': chambre.id }) }}">Modifier</a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <ul>
                                        <li>
                                            <a href="{{ path('chambre_new') }}">Ajouter une nouveelle chambre</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" id="tab_4">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Liste des chambres occupées</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body" id="levels">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Numero</th>
                                            <th>appartement</th>
                                            <th>responsable</th>
                                            <th>Actions</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for ochambre in ochambres %}
                                            <tr>
                                                <td><a href="{{ path('chambre_show', { 'id': ochambre.id }) }}">{{ochambre.id }}</a></td>
                                                <td>{{ ochambre.numero }}</td>
                                                <td>{{ ochambre.appartement.nom }}</td>
                                                <td>{{ ochambre.responsable.nom }}</td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <a href="{{ path('chambre_show', { 'id': ochambre.id }) }}">Voir</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('chambre_edit', { 'id': ochambre.id }) }}">Modifier</a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_5">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Liste des responsables de chambre</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body" id="groupComp">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>telephone</th>
                                            <th>Actions</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for responsable in responsables %}
                                            <tr>
                                                <td><a href="{{ path('responsable_show', { 'id': responsable.id }) }}">{{responsable.id }}</a></td>
                                                <td>{{ responsable.nom }}</td>
                                                <td>{{ responsable.prenom }}</td>
                                                <td>{{ responsable.telephone }}</td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <a href="{{ path('responsable_show', { 'id': responsable.id }) }}">Voir</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('responsable_edit', { 'id': responsable.id }) }}">Modifier</a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <ul>
                                        <li>
                                            <a href="{{ path('responsable_new') }}">Ajouter un nouveau responsable</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" id="tab_6">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Liste des acceuillants</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body" id="groupAxe">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>telephone</th>
                                            <th>Actions</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for accueillant in accueillants %}
                                            <tr>
                                                <td><a href="{{ path('accueillant_show', { 'id': accueillant.id }) }}">{{accueillant.id }}</a></td>
                                                <td>{{ accueillant.nom }}</td>
                                                <td>{{ accueillant.prenom }}</td>
                                                <td>{{ accueillant.telephone }}</td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <a href="{{ path('accueillant_show', { 'id': accueillant.id }) }}">Voir</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('accueillant_edit', { 'id': accueillant.id }) }}">Modifier</a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <ul>
                                        <li>
                                            <a href="{{ path('accueillant_new') }}">Ajouter un nouveau accueillant</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>


                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- nav-tabs-custom -->
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        window.onload = function () {
            getComp();
            getAxis();
            getScope();
            getGroupe();
            getAxegroupe();
            _get('list_composant','','composants','loadingComp2');
        };
        function getComp() {
            _get('composant_list','', 'composant', 'loadingComp');
        }
        function getAxis() {
            _get('axis_lists','','axe','loadingAxe');
        }
        function getScope() {
            _get('node_list','','scope','loadingNode');
        }
        function getGroupe() {
            _get('group_list','','groupeComp','minloadGroupeComp')
        }
        function getAxegroupe() {
            _get('axegroupe_list','','groupeAxe','minloadGroupeAxe')
        }
    </script>
{% endblock %}