{% extends 'base.html.twig' %}

{% block analyze %}
    <div class="box box-default">
        <div class="box-header with-border" ng-controller="enterDataController">
            <h3 class="box-title">Gestion des résidences Khadim Rassoul</h3>

            <div class="pull-right dropdown">
                <a href="#" class="text-muted dropdown-toggle" data-toggle="dropdown">Gestion des réservations<i class="fa fa-gear"></i>
                </a>
                <ul class="dropdown-menu adminSetup">
                    <li ><a style="color: white" id="generateId" href="{{ path('delegation_new') }}" class="btn btn-primary btn-sm">Nouvelle réservation</a></li>
                    <li  style="padding-top: 10px" id="updateId"><a style="color: white;" href="{{ path('genere_pdf') }}" class="btn btn-primary btn-sm">Génerer PDF</a></li>
                </ul>
            </div>
            <div class="pull-right" id="finalId" hidden="hidden">
                <a href="#" onclick="générateAll()" style="padding: 15px" class="text-muted">Finaliser</a>
            </div>
        </div>
        <!-- /.box-header -->
        {#<div class="box-body">#}
            {#{% block step %}#}
                {#{{ render(controller("ResidenceBundle:Delegation:new")) }}#}
            {#{% endblock %}#}
            {#<!-- /.row -->#}
        {#</div>#}

    </div>
{% endblock %}
{% block body %}
    <div >
        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1"  data-toggle="tab">Résidences</a></li>
                        <li><a href="#tab_2" data-toggle="tab">Appartements</a></li>
                        <li><a href="#tab_3" data-toggle="tab">Chambres Disponibles</a></li>
                        <li><a href="#tab_4"  data-toggle="tab">Chambres Occuppées</a></li>
                        <li><a href="#tab_5" data-toggle="tab">Responsables</a></li>
                        <li><a href="#tab_6"  data-toggle="tab">Accueillants</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Liste des résidences</h3>
                                </div>
                                <div class="box-body" id="composants">
                                    <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nom</th>
                                                <th>Nombreappartement</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for residence in residences %}
                                                <tr>
                                                    <td><a href="{{ path('residence_show', { 'id': residence.id }) }}">{{ residence.id }}</a></td>
                                                    <td>{{ residence.nom }}</td>
                                                    <td>{{ residence.nombreAppartement }}</td>
                                                    <td>
                                                        <ul>
                                                            <li>
                                                                <a href="{{ path('residence_show', { 'id': residence.id }) }}">Voir</a>
                                                            </li>
                                                            <li>
                                                                <a href="{{ path('residence_edit', { 'id': residence.id }) }}">Modifier</a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <ul>
                                                <a class="btn btn-primary btn-sm" href="{{ path('residence_new') }}">Ajouter une nouvelle residence</a>
                                        </ul>
                                </div>

                            </div>

                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Liste des appartements</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body" id="axes">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom</th>
                                            <th>residence</th>
                                            <th>nombre d'appartement</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for appartement in appartements %}
                                            <tr>
                                                <td><a href="{{ path('appartement_show', { 'id': appartement.id}) }}">{{ appartement.id }}</a></td>
                                                <td>{{ appartement.nom }}</td>
                                                <td>{{ appartement.residence.nom}}</td>
                                                <td>{{ appartement.nombreChambre }}</td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <a href="{{ path('appartement_show', { 'id': appartement.id }) }}">Voir</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('appartement_edit', { 'id': appartement.id }) }}">Modifier</a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <ul>
                                            <a class="btn btn-primary btn-sm" href="{{ path('appartement_new') }}">Ajouter une nouvelle residence</a
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_3">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Liste des chambres disponibles</h3>
                                </div>

                                <div class="box-body" id="nodes">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Numero</th>
                                            <th>appartement</th>
                                            <th>responsable</th>
                                            <th>Actions</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for chambre in chambres %}
                                            <tr>
                                                <td><a href="{{ path('chambre_show', { 'id': chambre.id }) }}">{{chambre.id }}</a></td>
                                                <td>{{ chambre.numero }}</td>
                                                <td>{{ chambre.appartement.nom }}</td>
                                                <td>{{ chambre.responsable.prenom }}</td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <a href="{{ path('chambre_show', { 'id': chambre.id }) }}">Voir</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('chambre_edit', { 'id': chambre.id }) }}">Modifier</a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <ul>
                                            <a class="btn btn-primary btn-sm" href="{{ path('chambre_new') }}">Ajouter une nouveelle chambre</a>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" id="tab_4">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Liste des chambres occupées</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body" id="levels">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Numero</th>
                                            <th>appartement</th>
                                            <th>responsable</th>
                                            <th>Actions</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for ochambre in ochambres %}
                                            <tr>
                                                <td><a href="{{ path('chambre_show', { 'id': ochambre.id }) }}">{{ochambre.id }}</a></td>
                                                <td>{{ ochambre.numero }}</td>
                                                <td>{{ ochambre.appartement.nom }}</td>
                                                <td>{{ ochambre.responsable.prenom }}</td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <a href="{{ path('chambre_show', { 'id': ochambre.id }) }}">Voir</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('chambre_edit', { 'id': ochambre.id }) }}">Modifier</a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_5">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Liste des responsables de chambre</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body" id="groupComp">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>telephone</th>
                                            <th>Actions</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for responsable in responsables %}
                                            <tr>
                                                <td><a href="{{ path('responsable_show', { 'id': responsable.id }) }}">{{responsable.id }}</a></td>
                                                <td>{{ responsable.nom }}</td>
                                                <td>{{ responsable.prenom }}</td>
                                                <td>{{ responsable.telephone }}</td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <a href="{{ path('responsable_show', { 'id': responsable.id }) }}">Voir</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('responsable_edit', { 'id': responsable.id }) }}">Modifier</a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <ul>
                                            <a class="btn btn-primary btn-sm" href="{{ path('responsable_new') }}">Ajouter un nouveau responsable</a>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" id="tab_6">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Liste des acceuillants</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body" id="groupAxe">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>telephone</th>
                                            <th>Actions</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for accueillant in accueillants %}
                                            <tr>
                                                <td><a href="{{ path('accueillant_show', { 'id': accueillant.id }) }}">{{accueillant.id }}</a></td>
                                                <td>{{ accueillant.nom }}</td>
                                                <td>{{ accueillant.prenom }}</td>
                                                <td>{{ accueillant.telephone }}</td>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <a href="{{ path('accueillant_show', { 'id': accueillant.id }) }}">Voir</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('accueillant_edit', { 'id': accueillant.id }) }}">Modifier</a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <ul>
                                            <a class="btn btn-primary btn-sm" href="{{ path('accueillant_new') }}">Ajouter un nouveau accueillant</a>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- nav-tabs-custom -->
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

    </script>
{% endblock %}