{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Résidence</h1>
        {{ form_start(form,{'method': 'post', 'action': path('residence_new') }) }}
        <div class="form-group">
            {{ form_row(form.nom,{'attr': {'class': 'form-control', 'placeholder':'Nom résidence'}}) }}
            {{ form_row(form.nombreAppartement,{'attr': {'class': 'form-control', 'placeholder':'Nombre appartement'}}) }}
            <ul>
                {{ form_row(form.valider, {'attr': {'class': 'btn btn-primary btn-sm '}}) }}
                <a class="btn btn-primary btn-sm" href="{{ path('residence_index') }}">Retour à la liste</a>
            </ul>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
