{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Responsable</h1>
        {{ form_start(form,{'method': 'post', 'action': path('responsable_new') }) }}
        <div class="form-group">
            {{ form_row(form.nom,{'attr': {'class': 'form-control', 'placeholder':'Nom responsable'}}) }}
            {{ form_row(form.prenom,{'attr': {'class': 'form-control', 'placeholder':'Prénom'}}) }}
            {{ form_row(form.telephone,{'attr': {'class': 'form-control', 'placeholder':'numéro téléphone'}}) }}
            <ul>
                {{ form_row(form.valider, {'attr': {'class': 'btn btn-primary btn-sm '}}) }}
                <a class="btn btn-primary btn-sm" href="{{ path('responsable_index') }}">Retour à la liste</a>
            </ul>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
