{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper col-lg-3">
    <h1> modifier Chambre</h1>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <input class="btn btn-primary btn-sm" type="submit" value="Valider" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a class="btn btn-primary btn-sm" href="{{ path('residence_index') }}">Retour</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-primary btn-sm" type="submit" value="supprimer" />
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
