{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chambre</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chambre.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ chambre.numero }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ chambre.etat }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <a class="btn btn-primary btn-sm" href="{{ path('chambre_index') }}">Retour à la liste</a>
        <a class="btn btn-primary btn-sm" href="{{ path('chambre_edit', { 'id': chambre.id }) }}">Modifier</a>
    </ul>
    <ul>
        {{ form_start(delete_form) }}
        <input class="btn btn-outline-danger btn-sm" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    </ul>
{% endblock %}
